<div class="row header">
    <div class="col-sm-2 box-spc">
        <div class="logo"><span class="logo-font">Logo</span></div>
    </div>
    <div class="col-sm-4 search-pad">
        <form class="example">
            <input type="text" placeholder="Search.." name="search2">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col-sm-1 post-proj">
        <span class="post-search-txt">Post Project</span>
    </div>
    <div class="col-sm-1 post-proj">
        <span class="post-search-txt">Search Project</span>
    </div>
    <div class="col-sm-1 post-proj">
        <span class="post-search-txt">Icons</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1 image-pad">
        <img class="img-style" src="../../assets/Screenshot_20221215_231954.png" alt="Trulli" width="55" height="55">
    </div>
    <div class="col-sm-1 drop-pad">
        <div class="dropdown" style="float:left;">
            <button class="dropbtn"><i class="arrow down"></i></button>
            <div class="dropdown-content" style="left:0;">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">