<div class="footer-main">
    <div class="row footer">
        <div class="col top-spc">
            <div class="logo"><span class="logo-font">Logo</span></div>
            <span class="addrs">1901 Thornridge Cir. Shiloh, Hawaii 81063</span>
        </div>
        <div class="col top-spc">
            <h5>Company</h5>
            <div class="clear-filter"><button class="clear-btn success">About</button></div>
            <div class="clear-filter"><button class="clear-btn success">Career</button></div>
            <div class="clear-filter"><button class="clear-btn success">Team</button></div>
            <div class="clear-filter"><button class="clear-btn success">Contact</button></div>
        </div>
        <div class="col top-spc">
            <h5>Product</h5>
            <div class="clear-filter"><button class="clear-btn success">Service</button></div>
            <div class="clear-filter"><button class="clear-btn success">Freelancer</button></div>
            <div class="clear-filter"><button class="clear-btn success">Features</button></div>
            <div class="clear-filter"><button class="clear-btn success">Development</button></div>
        </div>
        <div class="col top-spc">
            <h5>Links</h5>
            <div class="clear-filter"><button class="clear-btn success">Privacy Policy</button></div>
            <div class="clear-filter"><button class="clear-btn success">Term & Conditions</button></div>
            <div class="clear-filter"><button class="clear-btn success">FAQ</button></div>
        </div>
        <div class="col top-spc">
            <h5>Follow Us</h5>
            <div class="follow-col">
                <img class="customer-img right-spc " src="../../assets/twitter.png" alt="Trulli" width="35" height="35">
                <img class="customer-img right-spc" src="../../assets/facebook.png" alt="Trulli" width="35" height="35">
                <img class="customer-img" src="../../assets/insta.png" alt="Trulli" width="35" height="35">
            </div>
        </div>
    </div>
</div>