div.footer {
    margin: 0px 55px 0px 55px;
}

div.logo {
    height: 70px;
    width: 162px;
    border-radius: 18px;
    background: #07A189;
    padding: 9px 0px 0px 49px;
    margin-bottom: 15px;
}

span.logo-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    height: 45px;
    width: 73px;
    left: 105px;
    top: 39px;
    border-radius: nullpx;
    color: #FFFFFF;
}

.clear-btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    color: #6C6C6C;
    display: inline-block;
    text-align: left;
}

.clear-btn:hover {
    background: #eee;
}

.success {
    width: 150px;
    font-weight: 600;
}

div.clear-filter {
    padding: 0px 0px 0px 34px;

}

h5 {
    padding-left: 59px;
}

.addrs {
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 600;
}

.right-spc {
    margin-right: 26px;
}

.follow-col {
    padding-left: 59px;
    margin-top: 20px;
}

.customer-img {
    border-radius: 5px;
    cursor: pointer;
}

.footer-main {
    background: #f5f5f5;
}

.top-spc {
    margin-top: 75px;
}