body{
    background: rgb(194, 243, 240);;
}

body{
    background: rgb(194, 243, 240);;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    overflow-x: hidden; /* Hide scrollbars */
    
}