/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(194, 243, 240);;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    overflow-x: hidden; /* Hide scrollbars */
}